<!-- <div class="gray-line"></div> -->
<!-- <div class="container"></div> -->
<div class="history">
  <mat-card class="text">
    <p class="history-text">A banda <strong> Zepelim e o Sopro do Cão</strong>, originária
      de Campina Grande, está na estrada desde <strong>2006</strong>. <br>
      Composta por <strong>Babuindo</strong>, <strong>Dede Guima</strong>, <strong>Igor
      Punk</strong> e <strong>Igor Carvalho</strong>, o grupo combina o
      espírito do rock punk com ritmos regionais,
      criando músicas que retratam o cotidiano e as
      experiências do Nordeste urbano.</p>
  </mat-card>
  <div class="img">
    <img class="img-history" src="/wadawadeueeeu.png" alt="">
  </div>
</div>
