.history{
  display: flex  ;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      top: 50%;
      left: 25px;
      z-index: 1;
      padding: 20px;
      gap: 20px;
      height: 0;
      margin-left: 100px;
      width: 90%;
}
.text{
  flex: 1;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  position: absolute;
  left: 0;
}
.img img {
  max-width: 630px;
  height: auto;
  border-radius: 8px;
}
