.video-frame {
  position: fixed; /* Fixa o elemento em relação à janela */
  top: 50%;        /* Posiciona no centro vertical da tela */
  right: 0;        /* Encosta na borda direita da tela */
  transform: translateY(-50%); /* Ajusta para centralizar verticalmente */
  z-index: 1;      /* Garante que o vídeo fique acima de outros elementos */
  padding: 10px;   /* Adiciona espaço entre o vídeo e a borda direita */
}

// iframe {
//   max-width: 100%; /* Impede que o iframe ultrapasse a largura disponível */
//   height: 50%;    /* Mantém a proporção do vídeo */
// }
