.video-frame {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  padding: 10px;
}
.name {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  z-index: 1;
  padding: 10px;
  filter: invert(1) brightness(2);
  width: 400px;
  height: 400px;
}


