<mat-toolbar class="mat-toolbar">
    <img class="logo-branco" src="/zsc branco.png" alt="logo-branco" />
    <div class="menu-options">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/historia">História</a>
      <a mat-button routerLink="/agenda">Agenda</a>
      <a mat-button routerLink="/lancamentos">Lançamentos</a>
      <a mat-button routerLink="/banda">Banda</a>
      <a mat-button routerLink="/contato">Contato</a>
      <a mat-button routerLink="/loja">Loja</a>
    </div>
</mat-toolbar>