body {
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: rgb(0, 0, 0);
}

.gray-line {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2.8%;
  width: 100%;
  height: 1.7%;
  background-color: #4d5154;
  box-shadow: 0.3px 0 #333638;
  border: none;
}