/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Paletas de cores personalizadas
$zsc-primary: mat.define-palette(mat.$purple-palette, 800, 500);
$zsc-accent: mat.define-palette(mat.$green-palette, 300, 100);

// Tema customizado
$zsc-theme: mat.define-light-theme((
  color: (
    primary: $zsc-primary,
    accent: $zsc-accent,
  ),
  typography: mat.define-typography-config(), // Configuração de tipografia opcional
));

@include mat.all-component-themes($zsc-theme);

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: rgb(27, 27, 27);

}

.container {
  position: relative; /* Para posicionar a imagem */
  margin: 0 0 0 70px; /* Margem no topo e na esquerda */
  width: calc(100% - 40px); /* Ajusta a largura para respeitar a margem */
  height: calc(100vh - 40px); /* Ajusta a altura para respeitar a margem */
  background-image: url('/bg.png'); /* Caminho da imagem */
  background-size: cover; /* Faz a imagem cobrir o contêiner */
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(27, 27, 27);
  box-shadow: 0px 0px 10px rgb(27, 27, 27); /* (Opcional) Adiciona uma sombra para dar destaque */
}

mat-toolbar {
  background-color: rgb(27, 27, 27);
  color: rgb(27, 27, 27);
  display: flex;
  justify-content: flex-end;
  img{
    position: absolute;
    right: 92%;
  }
}


mat-toolbar a {
  color: mat.get-color-from-palette($zsc-accent);
  text-decoration: none;
  padding: 5px 15px;
  transition: all 0.5s ease-in-out;
  text-align: center;
  margin: 0 20px;

  &:hover {
    background-color: mat.get-color-from-palette($zsc-accent, 800);
    color: mat.get-color-from-palette($zsc-primary);
  }
}



